header,footer,aside,main{
	border:1px solid #CD0000;
}
*{
	box-sizing:border-box;
}
bady{
	padding:0;
	margin: 0;
}
.clearfix::after{
	content: "";
	display:table;
	clear:both;
}
#wrapper{
	max-width:1200px;
	min-width:800px;
	margin:auto;
}
header,footer{
	margin:2px 0;
	height:260px;
}
aside{
	width:20%;
	margin-right:0px;
	float:left;
	min-height:500px;
}
main{
	width:80%;
	float:right;
	min-height:500px;
}
a{
	
	font-size: 30px;
	font-weight: 800;
}
a:link{
	color: #FFFF00;
}
a:visited{
	color: #8B8B00;
} 
a:hover{
	color: #8E388E;
}
a:active{
	color: #0f0;
}